<h2>Stacktrace</h2>
<table>
    <tr>
        <th>Class</th>
        <th>File</th>
        <th>Line</th>
        <th>Method/Function</th>
        <th>Code</th>
    </tr>
    {% for i,trace in stacktrace %}
        <tr>
            <td>{{ trace.class }}</td>
            <td>{{ trace.file }}</td>
            <td>{{ trace.line }}</td>
            <td>{{ trace.function }}</td>
            <td class="show-code" onclick="this.innerHTML = this.innerHTML == '+' ? '-' : '+'; return document.getElementById('inner-code-{{ i }}').style.display = document.getElementById('inner-code-{{ i }}').style.display == 'table-cell' ? 'none' : 'table-cell';">+</td>
        </tr>
        <tr>
            <td colspan="6" class="inner-code" id="inner-code-{{ i }}">
                {{ trace.file|file_excerpt(trace.line) }}
            </td>
        </tr>
    {% endfor %}
</table>